img, canvas, iframe, video, svg {
    max-width:100%
}
.overflow-container {
    overflow-y:scroll
}
.aspect-ratio {
    height:0;
    padding-top:56.25%;
    position:relative
}
.aspect-ratio--object {
    bottom:0;
    height:100%;
    left:0;
    position:absolute;
    right:0;
    top:0;
    width:100%;
    z-index:100
}
body {
    margin: 0;
    padding: 0;
    background-image:url('../imgs/bg.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    overflow-y: scroll;
    font-family:'Lato';
    font-weight: 300;
    color: #0a0b1e;
}
::selection {
    color:#f8c704;
    background:none;
}
::-moz-selection {
    color:#f8c704;
    background:none;
}
.narrow {
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.right {
    background-color: rgb(88, 191, 140);
}
.fixed {
    possition: fixed;
}
.right a {
    color: #f8c704;
    text-decoration: underline;
    transition: 0.8s;
}
.right a:hover {
    color: #0a0b1e;
}
.up {
    font-size: 8vw;
    line-height: 99%;
}
.btn-box {
    border-radius: 7px;
    border:1px solid #0a0b1e;
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.8s;
}
.btn-box:hover {
    border-color: #eee;
    background-color: #eee;
    transition: 0.8s;
}
.underline {
    border-bottom: 1px solid #eee;
}
.bg-purple {
    background-color: rgba(10, 11, 30, 0.86);
    color: #eee;
}
.input-field {
    padding: 8px;
    width: 95%;
    min-height: 5em;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: rgba(237, 237, 237, 0);
    padding: 1em;
    min-width: 7em;
    border-radius: 7px;
    border:1px solid #eee;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.8s;
    color: #eee;
}
input[type="submit"]:hover {
    color: #0a0b1e;
}
.social a {
    text-decoration: none;
    color: #0a0b1e;
    transition: 0.8s;
}
.social a:hover {
    color: #eee;
}

a.name {
    text-decoration: none;
    color: #0a0b1e;
    transition: 0.8s;
}
a:hover.name {
    color: #eee;
}
.no-underline {
    text-decoration: none;
}
.feather-weight {
    font-weight: 300;
    word-break: keep-all;
    word-wrap: normal;
}