<!-- @include _header -->

  <section>
    <!-- Write your HTML! -->
    <div class="grid">
      <div class="unit half left">
        <div class="inner fixed">
          <h1>Beard and Beanie Creative</h1>
          <p class="large">Offers services in content strategy, web design, narrative branding, and web consultancy...particularly for non-profits.</p>
          <p class="btn tiny"><i class="fa fa-paper-plane-o fa-fw"></i> Work with us</p>
        </div>
      </div>
      <div class="unit half right">
        <div class="inner">
          <p>Beard and Beanie Creative makes spaces&mdash;digital spaces, physical spaces, and pragmatic spaces. These spaces are cozy, friendly, simple to use, easy to navigate, and they are designed to encourage communication, connection, and engagement.</p>
        </div>
      </div>
    </div>



  </section>

<!-- @include _footer -->
