img,canvas,iframe,video,svg{max-width:100%}.overflow-container{overflow-y:scroll}.aspect-ratio{height:0;padding-top:56.25%;position:relative}.aspect-ratio--object{bottom:0;height:100%;left:0;position:absolute;right:0;top:0;width:100%;z-index:100}

body {
  margin: 0;
  padding: 0;
  background-image:url('../imgs/bg.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  font-size: 24px;
  font-family: 'Lato';
  font-weight: 300;
}

.inner {
  padding: 1em;
}

.btn {
  padding: 15px;
  border: 1px solid #222;
  border-radius: 7px;
  text-align: center;
  transition: 0.8s;
}
.btn:hover{
  border: 1px solid #eee;
  background-color: #eee;
  transition: 0.8s;
}

.tiny {
  font-size: 1em;
}

.fixed {
  position: fixed;
}

.large {
  font-size: 2em;
  line-height: 1.7em;
}

.left {
  padding: 2em;
}

.left h1 {
  text-align: center;
}

.left p {
  max-width: 12em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.right {
  background-color: rgba(88, 191, 140, 0.55);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  height: 100%;
}

.right p {
  font-size: 27px;
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
